:root {
  --mantine-font-family: "Inter", system-ui, sans-serif;
}

body {
  background-color: #f8f9fa;
  -webkit-font-smoothing: antialiased;
}

.gradient-text {
  background: linear-gradient(
    45deg,
    var(--mantine-color-blue-7),
    var(--mantine-color-blue-4)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
